*{margin:0; padding: 0; border:0;}

BODY{
     font-family: Verdana, Arial;
   
}

.cabecalho{
    background-color:lightblue;
    padding: 20px;
    text-align: center;
        
}

.menu_principal{
    background-color: #eeeeee;
    text-align: center;
    padding: 12px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.corpo{
    margin: 20px;
}

.rodape{
    background-color:lightblue;
      
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    width: 100%;
}