<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Gerenciamento de {$nome}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="view/css/geral.css">
    </head>
    <body>
        <div class="cabecalho"> 
            <h2> Gerenciamento de {$nome}</h2>
        </div>
        <div class="menu_principal">
            <a href="albuns.php">Albuns</a> | 
            <a href="amigos.php">Amigos</a> | 
            <a href="comfotos.php">Comentar Fotos</a> | 
            <a href="fotos.php">Fotos</a> | 
            <a href="mensagens.php">Mensagens</a> | 
            <a href="pessoas.php">Pessoas</a> 
        </div>
        
        <div class="corpo">
            